/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

table,div {
	text-align: center;
	margin: auto;
}

div.pinCodePanel {
	margin-top: 15px;
	font-size: 14pt; 
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

body.voter {
	padding: 10px;
}

.gwt-Button,.gwt-ToggleButton {
	display: inline-block
}

.voter .gwt-ToggleButton {
	text-align: center;
	height: 100px;
	line-height: 100px;
	vertical-align: middle;
	font-size: 30pt;
	display: block;
}

input.gwt-TextBox {
vertical-align: -moz-middle-with-baseline;
	margin: 0;
	border-radius: 10px 0 0 10px;
	height: 19px;
	line-height: 10pt;
	padding: 2px 2px 2px 10px;
	font-size: 9pt;
/* 	border: 1px solid #06265C; */
	border: 1px solid gray;
	border-right: 1px solid transparent;
	background: none;
	-webkit-box-shadow: #06265C 0px 0px 5px 0px;
	box-shadow: #06265C 0px 0px 5px 0px;
	outline: none;
}

button.gwt-Button:hover {
	border: none;
	background: #26467C;
}
	
input.gwt-TextBox + button.gwt-Button {
	border-radius: 0 10px 10px 0;
	padding: 2px 10px 2px 5px;
	margin: 0;
}

button.gwt-Button {
	vertical-align: -moz-middle-with-baseline;
	margin: 6px 3px 6px 3px;
	border-radius: 10px 10px 10px 10px;
	height: 25px;
	padding: 2px 10px 2px 10px;
	font-size: 13px;
	line-height: 13px;
	border: none;
	background: #06265C;
	color: white;
	-webkit-box-shadow: #06265C 0px 0px 5px 0px;
	box-shadow: #06265C 0px 0px 5px 0px;
}

#voting-manager div.gwt-ToggleButton.gwt-ToggleButton-down-hovering {
	background-color: #00a000;
}
	
#voting-manager div.gwt-ToggleButton.gwt-ToggleButton-down {
	background-color: #008000;
}
	
#voting-manager div.gwt-ToggleButton div.html-face {
	line-height: normal;
	padding: 1px;
}

#voting-manager div.gwt-ToggleButton.gwt-ToggleButton-up-hovering {
	border: none;
	background: #26467C;
}
	
#voting-manager div.gwt-ToggleButton {
	vertical-align: -moz-middle-with-baseline;
	margin: 6px 3px 6px 3px;
	border-radius: 10px 10px 10px 10px;
	height: 21px;
	padding: 2px 10px 2px 10px;
	font-size: 13px;
	line-height: 13px;
	vertical-align: bottom;
	border: none;
	background: #06265C;
	color: white;
	-webkit-box-shadow: #06265C 0px 0px 5px 0px;
	box-shadow: #06265C 0px 0px 5px 0px;
	outline: none;
}

div#logo {
	width: 320px; height: 83px; 
	background: url('400dpiLogo.jpeg');
	margin-top: 15px; 
	margin-bottom: 15px;
}

a.gwt-Anchor:hover {
	color: #26467C;
	text-decoration: underline;
}

a.gwt-Anchor {
	color: #06265C;
	text-decoration: none;
}

a.gwt-Anchor.disabled,a.gwt-Anchor.disabled:hover {
	cursor: not-allowed;
	color: gray;
	text-decoration: none;
}